* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Pen Script', cursive;
  color: #000;
  background: url(../img/unova_pokedex_by_omniferious-d3c6bcj.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#pokemon-container img {
  width: 500px;
  height: 500px;
  margin-top: 20%;
}

.close-modal {
  float: right;
  margin-top: -70px;
}

.info-modal {
  height: 200px;
}

.modal-content {
  width: 600px;
  margin-top: 80%;
  font-size: 35px;
}

h1 {
  color: #fff;
  margin-top: 40%;
  font-size: 70px;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100px;
  font-size: 50px;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
  height: 100px;
  width: 100px;
}

b, strong {
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}

.h3, h3 {
  font-size: 40px;
}

.btn-danger{
  font-size: 40px;
}
