* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background: url(../img/pokeball_wallpaper_by_drpokelover-d9gwrgf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -60% 40%;
}

#pokemon-container img {
  width: 200px;
  height: 200px;
}

.close-modal {
  float: right;
  margin-top: -40px;
}

.info-modal {
  height: 200px;
  text-align: center;
}

.title-modal {
  text-align: center;
}